html,
body {
  height: 100%;
}

body {
  background-color: var(--black);
  @include pseudo();

  &:before,
  &:after {
    width: 100vw;
    height: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
    pointer-events: none;
    @include w-c-o();
    opacity: 0.001;
    transition: opacity 0.5s ease;
    @include pseudo();
  }

  &:before {
    background: linear-gradient(90deg, var(--blue) 0%, var(--blue-light) 100%);
  }

  &:after {
    background-color: var(--white);
    animation: 'loading' 1.2s infinite cubic-bezier(0.83, 0, 0.17, 1);

    @include rtl() {
      animation-name: 'loading-rtl';
    }
  }

  &.loading {
    &:before,
    &:after {
      opacity: 0.999;
    }
  }
}

.block-scroll {
  overflow: hidden;

  main {
    z-index: 20;
  }
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  position: relative;
}

main {
  flex-grow: 1;
  padding: var(--padding) 0;
}

.inner {
  margin: 0 auto;
  min-width: $min;
  max-width: $max;
  position: relative;
  padding: 0 var(--gutter);
}